<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bertrand Honner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
		
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300" rel="stylesheet">
        <link rel="stylesheet" href="../assets/main.css">
    </head>
    <body>

    	<div class="body-bg bg-about"></div>
        
    <!-- *********************** MENU *********************** -->
		<nav>
			<div id="menu-btn">menu</div>
		</nav>

		<section id="easing" class="grid-menu">
			<div class="grid-item grid-item-1 move-right-1"></div>
			<div class="grid-item grid-item-2 move-right-2"></div>
			<div class="grid-item grid-item-3 move-right-3"> <!-- check here | square el --> 
				<!-- <div class="square el"> added here -->
					<a href="#">
						<div id="menu-close-btn" class="grid-item-title-container"> <!-- check here -->
							<p>- close</p>
						</div>
					</a>
				<!-- </div> added here -->
			</div>
			<div class="grid-item grid-item-4 move-right-4"></div>
			<div class="grid-item grid-item-5 move-right-5">
				<a href="../index.html">
					<div class="grid-item-title-container">
						<h3>home</h3>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-6 move-right-6">
				<a href="about.html">
					<div class="grid-item-title-container">
						<h2>about</h2>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-7 move-right-7">
				<a href="contact.html">
					<div class="grid-item-title-container">
						<h2>contact me</h2>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-8 move-right-8">
				<a href="design.html">
					<div class="grid-item-title-container">
						<h2>design & doodles</h2>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-9 move-right-9">
				<a href="photo.html">
					<div class="grid-item-title-container">
						<h2>photography</h2>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-10 move-right-10">
				<a href="web.html">
					<div class="grid-item-title-container">
						<h2>web projects</h2>
					</div>
				</a>
			</div>
		</section>



	<!-- *********************** CONTENT *********************** -->
		
		<div class="title-right">about me</div>

		<!-- <div class="title-middle">Film photography convert, 35mm addict. The rest of my work can be found <a href="#">here</a>.</div> -->

		<div id="about-grid" class="about-grid">
			<div id="about-img" class="about-grid-element about-img">
				<img src="../assets/images/000034.jpg" alt="about-bertrand-img">
			</div>
			<div id="about-text" class="about-grid-element about-text">
				<div>hi.</div>
				<div>
					I'm a tech enthusiast and jazz aficionado with an interest in all things Korean and a flair for UI/UX and film photography. Also a full-stack web developer at Becode. <br>

					I'm a dual British-French citizen: I believe marmite and fois-gras can live in harmony together. I’ve lived in five countries in Europe and Northern Africa. I’m happily married to a Korean-American UI/UX designer. You can say that boundaries are pretty much blurred. <br>

					Seeing the lack of creative work in my previous job environment, I decided last year to hop on the tech train and become a full-time developer, after several years of academic and professional experience in the business side of the tech world. <br>

					I am currently doing a coding bootcamp at Becode and am looking for full-Stack or front-End development opportunities, preferably in Berlin. <br>

					Besides coding, I’m an avid film photographer and I love to doodle. I might not necessarily be the sporty type, but as a jazz drummer I do consider drumming as a valid form of exercise. <br>

					<div>
						<a href="../assets/images/CV-Bertrand-Honner.pdf" download>my cv</a>
						<a href="https://github.com/SuperchillB">github</a>
						<a href="https://www.linkedin.com/in/bertrandhonner/">linkedin</a>
						<a href="https://codepen.io/SuperChillBertie">codepen</a>
					</div>
				</div>
			</div>
		</div>

	<!-- *********************** SVG *********************** -->
		
		<svg id="about-1-shadeSVG" style="width:100vw; height:100vh" data-svg="about"></svg>
		<svg id="about-2-shadeSVG" style="width:100vw; height:100vh" data-svg="about"></svg>


        <!-- <script src="js/vendor/modernizr-3.5.0.min.js"></script> -->
        <script src="../assets/libraries/snap.svg-min.js"></script>
        <script src="../assets/libraries/anime-master/anime.min.js"></script>
        <script src="../assets/main.js"></script>
    </body>
</html>