<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bertrand Honner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../assets/main.css">
    </head>
    <body>

    	<div class="body-bg bg-photography"></div>
    	
        
    <!-- *********************** MENU *********************** -->
		<nav>
			<div id="menu-btn">menu</div>
		</nav>

		<section id="easing" class="grid-menu">
			<div class="grid-item grid-item-1 move-right-1"></div>
			<div class="grid-item grid-item-2 move-right-2"></div>
			<div class="grid-item grid-item-3 move-right-3"> <!-- check here | square el --> 
				<!-- <div class="square el"> added here -->
					<a href="#">
						<div id="menu-close-btn" class="grid-item-title-container"> <!-- check here -->
							<p>- close</p>
						</div>
					</a>
				<!-- </div> added here -->
			</div>
			<div class="grid-item grid-item-4 move-right-4"></div>
			<div class="grid-item grid-item-5 move-right-5">
				<a href="../index.html">
					<div class="grid-item-title-container">
						<h3>home</h3>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-6 move-right-6">
				<a href="about.html">
					<div class="grid-item-title-container">
						<h2>about</h2>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-7 move-right-7">
				<a href="contact.html">
					<div class="grid-item-title-container">
						<h2>contact me</h2>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-8 move-right-8">
				<a href="design.html">
					<div class="grid-item-title-container">
						<h2>design & doodles</h2>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-9 move-right-9">
				<a href="photo.html">
					<div class="grid-item-title-container">
						<h2>photography</h2>
					</div>
				</a>
			</div>
			<div class="grid-item grid-item-10 move-right-10">
				<a href="web.html">
					<div class="grid-item-title-container">
						<h2>web projects</h2>
					</div>
				</a>
			</div>
		</section>

	<!-- *********************** SVG *********************** -->
		
		<svg id="photo-shadeSVG" style="width:100vw; height:100vh" data-svg="photo"></svg>
		<!-- <div class="shadeSVG-container"> -->
			<!-- <canvas id="shadeCanvas"></canvas> -->
		<!-- </div> -->


	<!-- *********************** CONTENT *********************** -->
		
		<div class="title-right">photography</div>

		<div class="title-middle">Film photography convert, 35mm addict. <br> The rest of my work can be found <a href="#">here</a>.</div>

		<div id="grid-photos" class="grid-photos">
			<div class="grid-photos-item photo-1 grid-photos-item--width2 grid-photos-item--height3">
				<div data-duration="2000" class="grid-photos-item-child bg-one">
					<a href="">Seychelles</a>
				</div>
			</div>
			<div class="grid-photos-item photo-2 grid-photos-item--width2 grid-photos-item--height2">
				<div data-duration="2000" class="grid-photos-item-child bg-two">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157694230846755">Los Angeles</a>
				</div>
			</div>
			<div class="grid-photos-item photo-3">
				<div data-duration="1800" class="grid-photos-item-child bg-three grid-photos-item--height2">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157672369552351">Jeju</a>
				</div>
			</div>
			<div class="grid-photos-item photo-4 grid-photos-item--width3 grid-photos-item--height3">
				<div data-duration="1600" class="grid-photos-item-child bg-four">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157672205879840">Seoul</a>
				</div>
			</div>
			<div class="grid-photos-item photo-5 grid-photos-item--width2">
				<div data-duration="1400" class="grid-photos-item-child bg-five">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157673416149205">Brussels</a>
				</div>
			</div>
			<div class="grid-photos-item photo-6 grid-photos-item--width3 grid-photos-item--height2">
				<div data-duration="1200" class="grid-photos-item-child bg-six">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157670226248754">Scandinavia</a>
				</div>
			</div>
			<div class="grid-photos-item photo-7">
				<div data-duration="1000" class="grid-photos-item-child bg-seven">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157666487203888">poteke</a>
				</div>
			</div>
			<div class="grid-photos-item photo-8 grid-photos-item--width3 grid-photos-item--height3">
				<div data-duration="800" class="grid-photos-item-child bg-eight">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157672370130581">Gyeongsang-do</a>
				</div>
			</div>
			<div class="grid-photos-item photo-9 grid-photos-item--height2">
				<div data-duration="600" class="grid-photos-item-child bg-nine">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157673310800106">Spain</a>
				</div>
			</div>
			<div class="grid-photos-item photo-10 grid-photos-item--width2 grid-photos-item--height2">
				<div data-duration="400" class="grid-photos-item-child bg-ten">
					<a href="">Berlin</a>
				</div>
			</div>
			<div class="grid-photos-item photo-11 grid-photos-item--width2 grid-photos-item--height4">
				<div data-duration="200" class="grid-photos-item-child bg-eleven">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157692483895861">Joshua Tree</a>
				</div>
			</div>
			<div class="grid-photos-item photo-12 grid-photos-item--width3 grid-photos-item--height2">
				<div data-duration="100" class="grid-photos-item-child bg-twelve">
					<a href="https://www.flickr.com/photos/superchillbertie/albums/72157672336260662">D.C.</a>
				</div>
			</div>
		</div>
		

        <!-- <script src="js/vendor/modernizr-3.5.0.min.js"></script> -->
        <script src="../assets/libraries/snap.svg-min.js"></script>
        <script src="../assets/libraries/anime-master/anime.min.js"></script>
        <!-- <script src="../assets/libraries/masonry-docs/masonry.pkgd.min.js"></script> -->
        <script src="../assets/main.js"></script>
    </body>
</html>